<html>
<head>
<title>text_css2 </title>
<style type="text/css">
table{border-color:red;background-color:orange}
table.style_table{border-color:red;background-color:yellow}
center{color:white;}
p{color:black;font-size:13pt;font-style:normal}
p#text{color:red;style-size:4pt;}


#top-menu{width:80%;height:33px;background-color:cyan;margin: -10;padding: 10px; }
ul.menu{display:block;list-style-type:none;width:800px;margin:-20;padding: 10; }
ul.menu li {margin:0;padding:0; }
ul.menu li a{display: block;float:left;max-height:25px;widht:100px;margin:10;padding:3px 0;
font-family:tahoma, sans-serif;font-size:22px;text-align:center;background-color:cyan;text-decoration:none;color:#600;}
ul.menu li a:hover{border-bottom: #500 solid 2px;}



#tope-menu{width:10;height:9px;background-color:yellow ;margin: -5;padding: -70px; }

ul.menur{display:block;list-style-type:none;width:900px;margin:-9;padding: -10; }

ul.menur li {margin:10;padding:0; }

ul.menur li a{display: block;float:left;max-height:50px;widht:3px;margin:1;padding:-9px -1;font-family:tahoma, 
sans-serif;font-size:30px;text-align:left;background-color:dodgerblue;text-decoration:none;color:white;}

ul.menur li a:hover{border-bottom: #10 solid -50px;color:dodgerblue;}

p.time{background-color:green;text-align:left;font-size:10pt;font-style:italic;color:white;width:55%}

ul#text_ul{color:white;}
p.border_img1{boder-top-width:-15px;
border-left-width:-10px;
border-right-width:-1px; 
border-bottom-width:6px;
border-style:solid;
boder-color:black;
padding:15px;
background-color:white;}

p.border_img00{
padding:10px;
background-color:green;
border-radius: 10px;}

p.border_img10{boder-top-width:-15px;
border-left-width:-10px;
border-right-width:-1px; 
border-bottom-width:6px;
border-style:solid;
boder-color:black;
padding:15px;
background-color:white;}

p.border_img2{boder-top-width:-1px dotted;
border-left-width:1px dotted;
border-right-width:6px dotted; 
border-bottom-width:6px dotted;
border-style:solid dotted;
boder-color:black dotted;
padding:10px;
background-color:white;}

p.border_img4{boder-top-width:-1px dotted;
border-left-width:1px dotted;
border-right-width:3px dotted; 
border-bottom-width:3px dotted;
border-style:solid dotted;
boder-color:black dotted;
padding:5px;
background-color:blue;}

table#text_table1{border :5px double black;
border-color:pink;
background-color:brown;
}

img#testImage {float:right;
margin-top :0px;
margin-right :-8px}

#linkDemo a{
 display :block;
 float:left;
 width :175px;
 height:25px;
 background url(nav_rollover.jpg);
 ul#linkDemo{list-style: none;
margin :0;
padding :0;}
}
</style>
</head>
</html>